<meta name="description" content="Technical documentation and engineering reference for Cloud Architecture, Data Engineering, AWS, and AI Agent development.">
<meta name="keywords" content="Technical Documentation, Software Engineering, Data Science, AWS Architecture, Artificial Intelligence, Scala, Java, System Design">
<meta name="author" content="Ojitha Hewa Kumanayaka">

<meta name="category" content="Information Technology">
<meta name="subject" content="Software Development Reference">
<meta name="classification" content="Technical Reference">
<meta name="robots" content="index, follow">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">