<!-- MathJax Configuration -->
<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true,
    processEnvironments: true,
    tags: 'ams',  // This enables equation numbering
    tagSide: 'right',  // Position numbers on the right
    tagIndent: '.8em',  // Indentation of equation numbers
    autoload: {
      color: [],
      colorV2: ['color']
    },
    packages: {'[+]': ['noerrors']}
  },
  chtml: {
    displayAlign: 'left',        // Left-align display equations
    displayIndent: '2em'          // Optional: add left indentation
  },
  options: {
    ignoreHtmlClass: 'tex2jax_ignore',
    processHtmlClass: 'tex2jax_process',
    skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
    renderActions: {
      addMenu: [0, '', '']  // Disable context menu for faster rendering
    }    
  },
  loader: {
    load: ['[tex]/noerrors']
  }
};
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.js" id="MathJax-script"></script>