<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ojitha Kumanayaka</title>
    <style>
    * {
      box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="column" >
        <img src="/icons/android-chrome-512x512.png" alt="Ojitha Kumanayaka">
      </div>
      <div class="column" vocab="http://xmlns.com/foaf/0.1/" resource="#me" typeof="Person">
        <p>
         <span property="name">Ojitha Kumanayaka</span>,a software engineer living in Australia. My <a href="https://ojitha.blogspot.com/p/research.html">research</a> interests, <a href="https://ojitha.blogspot.com/p/tutorials.html">tutorials</a> and <a
          href="https://ojitha.blogspot.com/p/articles.html">articles</a> are available in my official <a href="https://ojitha.blogspot.com.au">tech blogs</a>. This is a personal web site that I maintain myself. I've accumulated, some of my thoughts and writings, material from others that I find of interest, and blogs specific to me for other developers and researchers.
        </p>
        <p>
          Email: <a property="mbox" href="mailto:ojithak@gmail.com">ojithak@gmail.com</a>
        </p>
      </div>
    </div>
  </body>
</html>
