.site-title::before {
  content: url(https://avatars.githubusercontent.com/ojitha?s=90&v=4);
  //display: flex;
  position: relative;
  width: 10px;
  top: 10px;
  right: 5px;
}

.posts>.post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts>.post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    background-color: var(--blockquote-bg-color, #f0f2f5);
    border-color: var(--blockquote-border-color, #1779ba);
    color: var(--blockquote-text-color, #333);
  }

  blockquote.green {
    --blockquote-bg-color: #95ddb5;
    --blockquote-border-color: #b12525;
    --blockquote-text-color: #000000;
  }

  blockquote.yellow {
    --blockquote-bg-color: #fff8f0;
    --blockquote-border-color: #f7c046;
    --blockquote-text-color: #333;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }

  /* added by Ojitha for Github alerts */
  .hl {
    background: yellow;
  }

  .message[color="blue"] {
    color: blue;
  }

  .message[color="green"] {
    color: green;
  }

  .message[color="brown"] {
    color: brown;
  }

  .message[color="red"] {
    color: red;
  }

  .info-box {
      border: 1px solid #6943ff;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      max-width: 800px;
      margin: 20px auto;
  }

  em {
    background-color: yellow; /* Light blue background */
    padding: 0 3px; /* Add a little padding for better appearance */
  }
  
  strong em {
    background-color:   blueviolet; /* Light blue background */
    color: wheat;
    padding: 0 3px; /* Add a little padding for better appearance */
  }
  
  u {
    background-color: lightgreen; /* Lavender blush background */
    padding: 0 3px;
    text-decoration-color: lightgray; /* Change underline color */
  }
        
}